.card{
    width: 275px;
    height: 275px;
    margin: auto;
}

.card:visited{
    text-decoration: none;
}

.test:visited {
    text-decoration: none;
}

.cardContent {
    text-align: center;
}

.buttonText {
    font-size: 28px !important;
    color: #E379EE;
}