.Drawer {
  width: 280px !important;
}

.SearchBox {
  display: flex !important;
  justify-content: center !important;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #527cec;
}

.SearchResultContainer {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 10px;
}

.SearchResult {
  width: 70%;
}

.searchColour {
  color: white;
}
