.Drawer {
  width: 280px !important;
}

.DrawerHeader {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: auto;
  height: 78px; /*This is to match the left drawer header height*/
  background-color: #527cec;
  color: white;
}

.headerText {
  align-items: flex-start;
}

.ChatBox {
  display: flex !important;
  justify-content: center !important;
  align-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  height: 58px;
  width: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #527cec;
}

.ChatMessagesContainer {
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  overflow-wrap: break-word;
}

.avatar {
  margin-left: 30px;
  height: 50px;
  width: 50px;
  font-size: x-large;
}

.chatColour {
  color: white;
  font-weight: normal;
}

.chatMessageScroll {
  overflow-y:auto;
  display:flex;
  flex-direction:column-reverse;
  max-height: calc(100% - 156px);
  scroll-behavior: smooth;
}
